h2 { color: blue(216, 213, 213);
    background-color: brown(126, 21, 21)
    border 10px 
    padding 20px
}

p{
    color: orange;
    font-size: 16px;
}

main{
    color: blueviolet;
}

body {
    background-color: crimson;
    background-image: url("baked_eggs_blog.jpg");

}